[Unit]
Description=My test service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/maxime-ganne/airbus/Netem_GUI/GUI_varia/app.py
[Install]
WantedBy=multi-user.target
